@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  
   scroll-behavior: smooth;
}
/* @layer base {
  @font-face {
    font-family: Helvetica Neue;
    font-weight: 400;
    src: url(/HelveticaNeue/HelveticaNeueRegular/HelveticaNeue-Regular.otf) format("otf");
  }
  
} */